<div class="header-container">
    <ng-container *ngIf="this.cartService.totalQuantity() as totalQuantity; else randomButton">
        <button (click)="toggleCart()">
            {{isCartPopupOpen?'Close Cart':'Open Cart'}}
            ({{totalQuantity | i18nPlural: quantityMapping}} / {{this.cartService.totalCost() | currency}})
        </button>
        <button (click)="clearCart()" class="red-button">Clear Cart</button>
    </ng-container>
    <ng-template #randomButton>
        <button (click)="buyRandom()" class="random-button">Buy something random!</button>
    </ng-template>
</div>