<div class="item-details" appHighlight>
    <p class="item-name">{{product.name | uppercase}}</p>
    <p class="item-price bold">{{product.price * quantity | currency}}</p>
    <button
        [disabled]="quantity<=minQuantity"
        (click)="changeQuantity(input.valueAsNumber - step)"> −
    </button>
    <input
        #input type="number"
        [value]="quantity"
        [step]="step"
        [min]="minQuantity"
        [max]="maxQuantity"
        (input)="changeQuantity(input.valueAsNumber)"/>
    <button
        [disabled]="quantity>=maxQuantity"
        (click)="changeQuantity(input.valueAsNumber + step)"> +
    </button>
    <button (click)="this.remove.emit(this.product)" class="red-button">X</button>
</div>