<form [formGroup]="orderForm" (ngSubmit)="submitOrder()" class="m-4">

    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text"
            id="firstName"
            formControlName="firstName"
            class="form-control"
            [ngClass]="{'is-invalid': orderForm.get('firstName')!.invalid && orderForm.get('firstName')!.touched}"
        >
        <div class="invalid-feedback"
            *ngIf="orderForm.get('firstName')!.invalid && orderForm.get('firstName')!.touched">
            First name is required and must start with an uppercase letter.
        </div>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" class="form-control">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input appEmailValidation
            type="email"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{'is-invalid': orderForm.get('email')!.invalid && orderForm.get('email')!.touched}">
        <div class="invalid-feedback" *ngIf="orderForm.get('email')!.invalid && orderForm.get('email')!.touched">
            Please enter a valid email address.
        </div>
    </div>

    <div formArrayName="phoneNumbers">
        <div class="form-group" *ngFor="let phone of phoneNumbers.controls; let i = index">
            <label for="Phone{{i+1}}">Phone {{ i + 1 }}:</label>
            <div class="input-group">
                <input type="text" id="Phone{{i+1}}" formControlName="{{i}}" class="form-control">
                <div class="input-group-append">
                    <button type="button"
                        [disabled]="phoneNumbers.controls.length == 1"
                        class="btn btn-danger"
                        (click)="removePhone(i)">
                        Remove
                    </button>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary my-2" (click)="addPhone()">Add Phone</button>
    </div>

    <div class="form-check my-2">
        <input type="checkbox"
            id="delivery"
            formControlName="delivery"
            class="form-check-input"
            (change)="toggleDelivery()"
        >
        <label class="form-check-label" for="delivery">Pickup</label>
    </div>

    <div *ngIf="showDeliveryAddress" class="form-group">
        <label for="address">Delivery Address:</label>
        <textarea id="address"
            formControlName="address"
            class="form-control"
            [ngClass]="{'is-invalid': orderForm.get('address')!.invalid && orderForm.get('address')!.touched}">
        </textarea>
        <div class="invalid-feedback" *ngIf="orderForm.get('address')!.invalid && orderForm.get('address')!.touched">
            Delivery address is required if delivery is selected.
        </div>
    </div>

    <button type="submit" [disabled]="orderForm.invalid" class="btn btn-primary my-2">
        Complete Order
    </button>
</form>