<div class="cart-container">
    <ng-container *ngIf="this.cartService.totalQuantity() as totalQuantity; else randomButton">
        <button (click)="toggleCart()">
            {{isCartPopupOpen?'Close Cart':'Open Cart'}} ({{totalQuantity}}/${{this.cartService.totalCost()}})
        </button>
        <button (click)="clearCart()" class="red-button">Clear Cart</button>
    </ng-container>
    <ng-template #randomButton>
        <button (click)="buyRandom()" class="random-button">Buy something random to make the cart appear!</button>
    </ng-template>
</div>
<div *ngIf="isCartPopupOpen" class="overlay">
    <div class="popup-container">Total: ${{this.cartService.totalCost()}}
        <ng-container *ngFor="let category of categories$ | async">
            <p class="centered-text">{{category}}</p>
            <app-cart-item
                *ngFor="let cartItem of (cartItems$ | async | filterCartItemsByCategory: category); trackBy : trackProductByName"
                [product]="cartItem.product"
                [quantity]="cartItem.quantity"
                (remove)="onRemoveItem($event)"
                (quantityChange)="onQuantityChange(cartItem, $event)">
            </app-cart-item>
        </ng-container>
    </div>
</div>